<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationExcercise Suite">
  <test  name="AutomationExcercise Tests">
    <classes>
		<class name="com.testcases.HomePageIsVisible"/>
		 <class name="com.testcases.AddProductToCart"/>
		 <class name="com.testcases.ProceedToCheckOut"/>
		 <class name="com.testcases.Register"/>
		  <class name="com.testcases.Login"/>
		  <class name="com.testcases.VerifyAddressDetailsAndReviewOrder"/>
		   <class name="com.testcases.WriteCommentInTextBox"/>
      <class name="com.testcases.ProcessedToCheckout2"/>
      
       <class name="com.testcases.Payment"/>
     

      
      
      
      <class name="AutomationPr.AutomationPro.AppTest"/>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
